/* CUD */
.certification-listing {
    font-family: 'Open Sans', sans-serif;
  }

.certification-listing > .certification-listing-header {
    background-color: #242f4f;
    text-align: right;
    vertical-align: top;
}

.certification-listing > .certification-listing-header > .certification-listing-intro {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 60%;
}

.certification-listing-header > .certification-listing-intro > h2 {
    color: #5091CD;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    padding: 25px;
    text-transform: uppercase;
}

.certification-listing-header > .certification-listing-intro > p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 0 25px;
}

.certification-listing-header > .certification-listing-intro > .certification-listing-header-images {
    padding: 20px 25px;
}

.certification-listing-header > .certification-listing-cert-image {
    display: inline-block;
    width: 39%;
}

@media (max-width: 1199px) {
    .certification-listing > .certification-listing-header > .certification-listing-intro {
        width: 65%;
    }

    .certification-listing-header > .certification-listing-intro > h2 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    .certification-listing-header > .certification-listing-intro > p {
        font-size: 14px;
        line-height: 20px;
    }

    .certification-listing-header > .certification-listing-cert-image {
        width: 34%;
    }
}

@media (max-width: 979px) {
    .certification-listing-header > .certification-listing-intro > p {
        font-size: 12px;
        line-height: 18px;
    }

    .certification-listing-intro > .certification-listing-header-images > img {
        height: 60px;
    }
}

@media (max-width: 767px) {
    .certification-listing > .certification-listing-header > .certification-listing-intro {
        width: 100%;
    }

    .certification-listing-intro > .certification-listing-header-images {
        text-align: center;
    }

    .certification-listing-intro > .certification-listing-header-images > img {
        height: auto;
    }

    .certification-listing-header > .certification-listing-cert-image {
        display: none;
    }
}

.certification-listing-search {
    background: #1b63a2 none repeat scroll 0 0;
    color: white;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
}

.certification-listing-search > div {
    display: inline-block;
    margin: 0 15px;
}

.certification-listing-search > div > .search-label {
    margin-bottom: 5px;
    text-align: left;
}

.certification-listing-search .search-input > input[type=text],
.certification-listing-search .search-input > select {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.certification-listing-search > button {
    background-color: #242f4f;
    border: 0;
    color: #fff;
    height: 26px;
    padding: 0 20px;
}

.certification-listing-search .search-type {
    margin-right: 0;
}

@media (max-width: 979px) {
    .certification-listing-search > div {
        display: block;
        margin-top: 8px;
        text-align: left;
    }

    .certification-listing-search > div:first-child {
        margin-top: 0;
    }

    .certification-listing-search .search-input > input[type=text] {
        width: 570px;
    }

    .certification-listing-search .search-input > select {
        width: 100%;
    }

    .certification-listing-search > button {
        margin: 15px 0 0 15px;
    }
}

@media (max-width: 767px) {
    .certification-listing-search > .search-general > .search-input > input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .certification-listing-search {
        display: flex;
        flex-direction: column;
        padding: 15px 5px;
    }
}

.certification-listing-table {
    width: 100%;
}

.certification-listing-table > thead {
    background: #1a3f70 none repeat scroll 0 0;
    color: white;
}

.certification-listing-table > thead a {
    color: white;
}

.certification-profile-badges .certification-listing-table > tfoot {
    background-color: #1a3f70;
}

.certification-listing-table > thead th {
    font-weight: normal;
    padding: 10px !important;
    text-transform: uppercase;
    text-align: center !important;
}

.certification-listing-table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

.certification-listing-table td {
    padding: 32px !important;
    vertical-align: unset !important;
}

.certification-listing-table img {
    border-radius: 60px;
    border: 3px solid #eee;
}

.certification-listing-table a {
    color: #1b63a2
}

.certification-listing-table .cud-name {
    font-size: 110%;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .certification-listing-table > tbody > tr > td {
        padding: 12px;
    }
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
    .certification-listing > div {
        text-align: center;
    }

    .certification-listing-table > thead {
        display: none;
    }

    .certification-listing-table tr {
        display: flex;
        flex-direction: column;
    }

    .certification-listing-table > tbody > tr > td::before {
        color: #333;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    .certification-listing-table > tbody > tr > td {
        text-align: center;
    }

    .certification-listing-table > tbody > tr > td:nth-child(2)::before {
        content: 'Name';
    }

    .certification-listing-table > tbody > tr > td:nth-child(3)::before {
        content: 'Location';
    }

    .certification-listing-table > tbody > tr > td:nth-child(4)::before {
        content: 'Certified on';
    }

    .certification-listing-table > tbody > tr > td:nth-child(5)::before {
        content: 'Certification';
    }
}

.certification-profile-image {
    text-align: center;
}

.certification-profile-image > img {
    border: 6px solid #ebe9e9;
    border-radius: 61px;
    text-align: center;
    max-width: 100px;
}

.certification-profile-data {
    margin: 20px 0;
    text-align: center;
}

.certification-profile-name {
    font-size: 138%;
    font-weight: bold;
    margin-bottom: 10px;
}

.certification-profile-badges {
    margin: 0 20%;
}

.certification-profile-table img {
    border: 0;
    border-radius: 0;
}

@media (max-width: 979px) {
    .certification-profile-badges {
        margin: 0 10%;
    }
}

@media (max-width: 767px) {
    .certification-profile-badges {
        margin: 0;
    }

    .certification-profile-table > tbody > tr > td:nth-child(2)::before {
        content: 'Certification';
    }

    .certification-profile-table > tbody > tr > td:nth-child(3)::before {
        content: 'Certified on';
    }
}